h1{
    color: rgb(23, 104, 211);
    text-align: left;
    padding: 30px;
    font-size: xx-large;

}


h2{
    text-align: left;
    padding: 30px;
    color: black;
}

.table{
    
    margin: auto;
    width: 300px;
    border: 15px;
    border-style: solid;
    padding: 25px;
    border-color: black ;
    text-decoration: none;
    border-style: solid;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-width: thin;
           
}

.language{
    text-align: left;
     
}

.line{
    text-align: center;
}